<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/main.js"></script>
    <script src="node_modules/vue/dist/vue.global.js"></script>
    <title>Blog JSONPlaceholder</title>
   
</head>
<body>
   <main id="app">
         <div class="container">
            <h1>Blog JSONPlaceholder</h1>
            <section class="article-list">
                <form>
                    <label for="search">Filter by title</label>
                    <input id="search" name="search" type="search" v-model="searchRequest">
                </form>
                <article v-if="getPostPag().length > 0" v-for="post in getPostPag()" :class="{'loading':loading}">
                    <h2>{{post.title}}</h2>
                    <button @click="toggleBody(post.id)">Show 
                        <span v-if="!showBodySet.has(post.id)">more...</span>
                        <span v-else>less...</span>
                    </button>

                    <transition  
                    @before-enter="addHeightZero"
                    @enter="addRealHeight"
                    @before-leave="addRealHeight"
                    @leave="addHeightZero"
                    :css="true"
                    >
                        <div v-if="showBodySet.has(post.id)" class="content-container">
                            <p  >{{post.body}}</p>
                            <article v-for="comment in getCommentsRelatedToPost(post.id)">
                                <h5>{{comment.name}}</h5>
                                <p>{{comment.body}}</p>

                            </article>
                        </div>
                    </transition>                        

                    <footer v-if="users.length > 0">Author:{{getNameUser(post.userId)}}</footer>
                </article>
                <h2 v-else>No results</h2>
                <div v-if="getPostPag().length > 0" class="paginator" ref="paginator">                    
                    <button v-if=" page!= totalPages" @click="nextPage" >Load more</button>
                </div>
            </section>
        </div>
   </main>
</body>
</html>